.detail{
	text-align: center;
    max-width: 265px;
    margin: auto;

    .spotify-icon{
    	width: 265px;
    	height: 265px;
    	background: url(../../assets/img/spotify.jpg) no-repeat;
    	background-position: center;
    	background-size: contain;
    }

    .progress-bar{
    	width: 265px;
    	height: 29px;
    	margin: 15px 0 10px 0;
    	background: url(../../assets/img/progress-bar.png) no-repeat;
    	background-size: contain;
    }

    .artist-info{
    	text-transform: capitalize;

	    .artist-name{
	    	margin: 0;
	    }
    }

    .song-player{
    	font-size: 40px;

    	span.glyphicon{
    		cursor: pointer;
    	}
    }
}