$main-background-color: #1f2225;
$footer-background-color: #1f2022;
$dark-gray: #636567;
$light-blue: #4dc4d3;
$search-bar: #35383c;
$row-strip-1: #8f9192;
$row-strip-2: #636567;
$list-button: #51ccdc;
$list-button-active: #4dc0ce;
$top-menu: #4dc4d3;
$white: #ffffff;
$black: #000000;