footer{
	max-width: 500px;
	margin: 30px auto;
	font-size: 10px;
	background-color: $footer-background-color;

	span{
		float: left;
	}

	ul{
		display: inline-block;
		float: right;

		a{
			color: $white;
			cursor: pointer;

			&:hover{
				color: $white;
			}
		}
	}
}