@import "variables.scss";
@import "fonts.scss";
@import "top-menu.scss";
@import "header.scss";
@import "login.scss";
@import "songs.scss";
@import "detail.scss";
@import "footer.scss";

body{
	background-color: $main-background-color;
	font-family: "DINMedium";
	color: $white;
}

.content{
	min-height: 400px;
}

.clearfix {
	overflow: hidden;
}

.song-title{
	font-size: 14px;
	font-weight: bold;
}

.artist-name{
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 11px;
}

@media screen and (min-width: 768px) {
    .content{
		min-height: 600px;
	}
}